<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88616747039-42d5n786a8p2mijp1necs5v0u5fo0ag7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88616747039-42d5n786a8p2mijp1necs5v0u5fo0ag7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>88616747039-6a1cno6919nluvrjam3evg4uhipdierl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBO3seDN8nWuYl56flYCMLi4H-yu6xlTcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>88616747039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thebest.TheBest-User-iOS</string>
	<key>PROJECT_ID</key>
	<string>thebest-99ba6</string>
	<key>STORAGE_BUCKET</key>
	<string>thebest-99ba6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88616747039:ios:4353ef7f27b559a34a552a</string>
	<key>DATABASE_URL</key>
	<string>https://thebest-99ba6.firebaseio.com</string>
</dict>
</plist>